@charset "UTF8";

*{
    /*height: 100%;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image:linear-gradient(to top, #87ceeb,#ffffff,#c6e2b5);
}

main{
    background-color: #f7f1f1;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #012938;
    text-align: center;
    text-shadow: 1px 1px 0px;
}

h2{
color: #49b4df;
}

p{
    text-align: justify}